<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos - Cafetería</title>
</head>
<body>
    <h1>Menú de Productos</h1>
    
    <a href="/"><button style="padding: 10px 20px;">Volver al Inicio</button></a>
    <a href="/agregar_producto"><button style="padding: 10px 20px;">Agregar</button></a>
     <button onclick="irAActualizar()" style="padding: 10px 20px;">Actualizar</button>
    
   
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
        {% for prod in productos %}
        <tr>
            <td>{{ prod.id_producto }}</td>
            <td>{{ prod.nombre }}</td>
            <td>{{ prod.categoria }}</td>
            <td>${{ prod.precio }}</td>
            <td>{{ prod.stock }}</td>
        </tr>
        {% endfor %}
    </table>
     <!-- Nueva sección para Actualizar y Borrar escribiendo el ID -->
    <span style="margin-left: 15px;">
        <label><b>ID del Producto:</b></label>
        <input type="number" id="input_id_producto" style="padding: 8px; width: 60px;" placeholder="Ej: 1">
        
       
        <button onclick="irABorrar()" style="padding: 10px 20px;">Borrar</button>
    </span>
    <br><br>


    <!-- Pequeño script para leer la cajita de texto y enviarte a la ruta correcta -->
    <script>
        function irAActualizar() {
            let id = document.getElementById('input_id_producto').value;
            if(id) {
                window.location.href = '/actualizar_producto/' + id;
            } else {
                alert("Por favor, ingresa el ID del producto que deseas actualizar.");
            }
        }

        function irABorrar() {
            let id = document.getElementById('input_id_producto').value;
            if(id) {
                if(confirm('¿Estás seguro de que deseas borrar el producto con el ID ' + id + '?')) {
                    window.location.href = '/borrar_producto/' + id;
                }
            } else {
                alert("Por favor, ingresa el ID del producto que deseas borrar.");
            }
        }
    </script>
</body>
</html>